In [1]:
3+1

4

In [2]:
50 % 2

0

In [5]:
my_dogs = 2

In [6]:
my_dogs

2

In [8]:
my_dogs = ["karina"]

In [9]:
my_dogs

['karina']

In [10]:
a=5

In [11]:
a+a

10

In [12]:
a =a*a

In [13]:
a

25

In [14]:
type(a
)

int

In [15]:
a/3.2

7.8125

In [16]:
type(a)

int

In [17]:
a=a/3.2

In [18]:
type(a
)

float

In [62]:
my_income = 12883

In [66]:
tax_rate = 0.27
my_taxes = tax_rate * my_income

In [67]:
my_taxes

3478.4100000000003

In [22]:
'hello'

'hello'

In [23]:
'i love my husband'

'i love my husband'

In [24]:
"I'am incrivel"

"I'am incrivel"

In [26]:
print('Rafael \tmeu amor')

Rafael 	meu amor

In [27]:
len('RAfel')

5

In [28]:
len("I'am incrivel")

13

In [29]:
mystring = "Hello"

In [30]:
mystring

'Hello'

In [32]:
mystring = "Hello"

In [33]:
mystring[2]

'l'

In [34]:
mystring[-1]

'o'

In [35]:
mystring = 'abcdefg'

In [36]:
mystring[2:]

'cdefg'

In [37]:
mystring[:6]

'abcdef'

In [39]:
mystring[3:6]

'def'

In [42]:
mystring[::3]

'adg'

mystring[::-1]

In [43]:
mystring[::-1]

'gfedcba'

In [45]:
mystring = 'Hello World'
mystring[8]

'r'

In [46]:
amor = 'Rafael '

In [47]:
amor * 10

'Rafael Rafael Rafael Rafael Rafael Rafael Rafael Rafael Rafael Rafael '

In [48]:
amor + 'Karina'

'Rafael Karina'

In [50]:
amor.upper()

'RAFAEL '

In [54]:
print(amor {}.format('karina','demais'))

SyntaxError: invalid syntax (<ipython-input-54-cebeaa259648>, line 1)

In [57]:
print('não entendi {}'.format('NADA'))

não entendi NADA

In [69]:
result = my_income - my_taxes

In [76]:
print('o resultado foi de {r:1.1f}'.format(r=result))

o resultado foi de 9404.6

In [78]:
print(f'O seu salario sera de {result} porque voce tem uma taxa de {tax_rate}')

O seu salario sera de 9404.59 porque voce tem uma taxa de 0.27

In [79]:
my_dic = {'salario':8400, 'nome': 'karina'}

In [80]:
my_dic

{'nome': 'karina', 'salario': 8400}

In [82]:
my_dic['nome']

'karina'

In [83]:
my_dic.values()

dict_values([8400, 'karina'])

In [86]:
my_dic.items()

dict_items([('salario', 8400), ('nome', 'karina')])

In [87]:
t = (1,2,3,4,'k')

In [88]:
t

(1, 2, 3, 4, 'k')

In [89]:
type(t)

tuple

In [91]:
t.count(4)

1

In [92]:
t.index('k')

4

In [93]:
myset = set()

In [95]:
myset.add(1)

In [96]:
mylist = [1,1,1,1,2,3,3,4,5,6,7,7,8,9,9,0]

In [97]:
set(mylist)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
myset = set(mylist)

In [99]:
myset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
set('Missisipi')

{'M', 'i', 'p', 's'}

In [102]:
1 >= 2

False

qubrei tudo

In [103]:
1==2

False

In [104]:
mylist[0] ==5

False

In [ ]:
%%writefile myfile.txt

oieoie oeshui
estou escrevendo meu texto aqui
terceira linha

In [ ]:
1==2